<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="shan.HDHealthManagement.Mapper.CasesDao">
    
    <select id="getAll" resultType="shan.HDHealthManagement.po.Cases">
        select * from cases
    </select>
    
    <select id="getByPage" resultType="shan.HDHealthManagement.po.Cases">
        select * from cases  LIMIT #{index},#{rows}
    </select>
    
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="shan.HDHealthManagement.po.Cases">
        insert into cases(id,caseName,name,age,doctor,hospital,introduce,file)
        values(#{id},#{caseName},#{name},#{age},#{doctor},#{hospital},#{introduce},#{file})
    </insert>
    
    <select id="findById" resultType="shan.HDHealthManagement.po.Cases">
        select * from case where id = #{id}
    </select>
    
    <update id="edit" parameterType="shan.HDHealthManagement.po.Cases">
        update cases set caseName=#{caseName},name=#{name},age=#{age},doctor=#{doctor},hospital=#{hospital},introduce=#{introduce},file=#{file}
        where id=#{id}
    </update>
 
    <delete id="del">
        delete from cases where id=#{id}
    </delete>
    
</mapper>