<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="shan.HDHealthManagement.Mapper.VideoDao">
    
    <select id="getAll" resultType="shan.HDHealthManagement.po.Video">
        select * from video
    </select>
    
    <select id="getByPage" resultType="shan.HDHealthManagement.po.Video">
        select * from video  LIMIT #{index},#{rows}
    </select>
    
    <select id="getAllByName" resultType="shan.HDHealthManagement.po.Video">
        select * from video where name like #{name}
    </select>
    
    <select id="getPageByName" resultType="shan.HDHealthManagement.po.Video">
        select * from video where name like #{name} LIMIT #{index},#{rows}
    </select>
    
    <select id="getAhead" resultType="shan.HDHealthManagement.po.Video">
        select * from video  LIMIT 4
    </select>
    
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="shan.HDHealthManagement.po.Video">
        insert into video(id,name,introduce,fileUrl)
        values(#{id},#{name},#{introduce},#{fileUrl})
    </insert>
    
    <select id="findById" resultType="shan.HDHealthManagement.po.Video">
        select * from video where id = #{id}
    </select>
    
    <update id="edit" parameterType="shan.HDHealthManagement.po.Video">
        update video set name=#{name},introduce=#{introduce},fileUrl=#{fileUrl}
        where id=#{id}
    </update>
 
    <delete id="del">
        delete from video where id=#{id}
    </delete>
    
</mapper>